.navbar{
  background-color: black !important;
}

.logo {
  margin: 1rem 0.1rem;
  font-size: 2.5rem !important;
  /* filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%); */
}

.title {
  font-size: 1.5rem !important;
  font-weight: 900 !important;
  letter-spacing: -0.04rem !important;
}

.album-list {
  max-width: 100% !important;
  min-height: 60vh;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #509BF5;
  background-image: linear-gradient(90deg, #c074b2, #8ab5e8);
}

.album-list2 {
  max-width: 100% !important;
  min-height: 60vh;
  margin: 0 !important;
  padding: 0 !important;
  /* background-color: #509BF5; */
  /* background-image: linear-gradient(#c074b2, #8ab5e8); */
  background-image: linear-gradient(transparent, #000);
  
}