.navbar{
  background-color: black !important;
}

.logo {
  margin: 1rem 0.1rem;
  font-size: 2.5rem !important;
  /* filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%); */
}

.title {
  font-size: 1.5rem !important;
  font-weight: 900 !important;
  letter-spacing: -0.04rem !important;
}

.album-list {
  max-width: 100% !important;
  min-height: 85vh;
  margin: 0;
  padding: 0;
  background-color: #509BF5;
  background-image: linear-gradient(90deg, #c074b2, #8ab5e8);
}

.album-list2 {
  max-width: 100% !important;
  min-height: 85vh;
  margin: 0;
  padding: 2rem;
  background-image: linear-gradient(transparent, #000);
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.album {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 13%;
  min-width: 10rem;
  height: fit-content;
  margin: 2rem;
  padding: 1rem;
  background-color: #fff;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
  border-radius: 4px;

}

.album-image {
  width: 100%;
}